html{
  letter-spacing: 30px;
  line-height: 40px;
}

li{
  color: lightcoral;
}

a{
  background-color:khaki;
}

a:hover{
  color:plum;
}

h1{
  font-family: fantasy;
}

div{
    text-decoration:strike;
}

.navzone{
    background-color:red;
}

.extreme{
    font-size: 16px;
}

.content{
    font-style: oblique;
}

.prose{

}