html{
  letter-spacing: 30px;
  line-height: 40px;
}

li{
  color: lightcoral;
}

a{
  background-color:khaki;
}

a:hover{
  color:plum;
}

h1{
  font-family: fantasy;
}

div{
  text-shadow: 5px 8px 10px #44001A;
}

.navzone{
  background-color:#F7B32B;
  width: 300px;
}

.extreme{
  font-size: 30px;
}

.content{
  font-style:oblique;
}

.prose{
  cursor:help;
}

#tehlulz{
  text-transform: uppercase;
}

#head1{
  text-align: right;
}
