html{
  background-color: #71677C;
}

body{
  text-align: center;
}

h1{
  font-family:fantasy;
  font-weight: bold;
  text-shadow: 5px 8px 10px #8BA6A9;
  text-align: left;
}

div {
  height: 180px;
  width: 500px;
  margin-left: 50px;
  padding: 10px;
  font-size: 20px;
  font-family: monospace;
  background-color: rgba(225, 225, 225, 0.4);
  transition: background-color 3s;
  }

a:hover{
  color: #8BA6A9;
}

div:hover{
  background-color: white;
}
